.form-container {
  width: 25em;
  padding: 1em;
  background-color: rgb(255, 244, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-container input {
  display: none;
}

.form-container .ratings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .ratings label {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.5em;
  height: 6.5em;
  margin: 0.3em;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.form-container .ratings label:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-container .ratings label:hover span {
  transform: scale(1.2);
}

.form-container .ratings span {
  font-size: 3em;
}

.form-container h4 {
  margin: 1em;
}

.form-container button {
  margin-top: 1em;
  border: 0;
  background-color: rgb(31, 31, 31);
  padding: 0.8em 1.8em;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.form-container .ratings .active {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.form-container button:active {
  transform: scale(0.98);
}