.pGContainer {
  font-size: 1rem;
  font-family: 'Muli';
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgb(199, 115, 90) 0%,
    rgb(241, 191, 82) 100%
  );
  padding: 2em 1em;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 20em;
  align-items: center;
}

.pGContainer h2 {
  margin-bottom: 0.5em;
}

.pGContainer .result-container {
  display: flex;
  position: relative;
  width: 100%;
  background-color: rgba(199, 115, 90, 0.6);
  margin: 0.3em 0;
}

.pGContainer .result {
  /* height: 1.9em; */
  word-wrap: break-word;
  max-width: calc(100% - 2em);
  padding: 0.3em;
  /* border-radius: 20px; */
}

.pGContainer .clipboard {
  position: absolute;
  width: 1em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  right: 0%;
  border: 0;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.pGContainer .clipboard:hover {
  color: rgb(199, 115, 90);
  
  background-color: rgba(255, 255, 255, 1);
}

.pGContainer .settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
}

.pGContainer .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em 0;
}

.pGContainer .settings input:checked {
  background-color: aliceblue;
  padding: 1em;
}

.pGContainer .generate {
  margin: 0;
  border: 0;
  cursor: pointer;
  padding: 1em 1em;
  /* border-radius: 20px; */
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  width: 100%;
  /* text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); */
}

.pGContainer .generate:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(199, 115, 90);
}
