.dDContainer {
  font-size: 1rem;
  height: 50vh;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgb(255, 251, 247);
  color: black;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dDContainer .empty {
  width: 5em;
  height: 5em;
  background-color: antiquewhite;
  margin: 1em;
}

.dDContainer .fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 5em;
  width: 5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.dDContainer .hold {
  transform: scale(0.85);
}
