.tag {
  margin: 0.2em;
  background-color: rgba(255, 180, 203, 0.514);
  padding: 0.5em 1em;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag.highlight {
  background-color: rgb(255, 134, 171);
  color: white;
}