.todo-container {
  font-size: 1rem;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  padding: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  width: 35em;
}

.todo-container h1 {
  font-size: 10em;
  margin: 0.1em 0;
  text-align: center;
  /* color: rgba(32, 108, 179, 0.7); */
  background: -webkit-linear-gradient(rgb(3, 73, 153), rgb(157, 211, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-container form {
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid rgba(128, 128, 128, 0.2); */
  width: 100%;
}

.todo-container form input {
  width: 100%;
  border: none;
  font-size: 2em;
  padding: 0.1em 0.3em;
  display: block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.todo-container form input:focus {
  outline: none;
  border-bottom: 2px solid rgba(32, 108, 179, 0.7);
  margin-top: -2px;
}

.todo-container form input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.todo-container ul {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 11em;
  overflow-y: scroll;
}

.todo-container ul li {
  width: 100%;
  font-size: 1.5em;
  margin: 0;
  margin-top: -1px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-out, border 0.1s ease-out;
  word-break: break-all;
}

.todo-container ul li:hover {
  /* transition: border 0.1s ease-out; */
  border-left: 2px solid rgba(32, 108, 179, 0.7);
}
