:root {
  --bg-image: 8px;
  --bg-progress: 10%;
  --bg-progress-color: rgb(0, 119, 255);
}

.pSContainer {
  font-size: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 20em; */
  /* height: 20em; */
  padding: 1em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.pSContainer .image {
  height: 15em;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pSContainer .image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('https://source.unsplash.com/random/1280x720');
  /* opacity: var(--bg-image); */
  filter: blur(var(--bg-image));
  background-color: beige;
  background-repeat: no-repeat;
  background-size: cover;
}

.pSContainer .image::after {
  content: '';
  opacity: 100%;
  width: var(--bg-progress);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-progress-color);
  box-shadow: 0 0 6px var(--bg-progress-color);
}

.pSContainer h3 {
  margin: 0.3em;
}

.pSContainer small {
  margin-bottom: 1em;
}

.pSContainer .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pSContainer .form label,
.pSContainer .form input {
  width: 100%;
  font-size: 0.8em;
  margin: 0.2em;
}

.pSContainer .form label {
  margin-top: 0.5em;
  font-weight: 900;
}

.pSContainer .form input {
  height: 1.8em;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: 0;
  position: relative;
}

.pSContainer .form input:focus {
  border-bottom: 1px solid rgb(0, 119, 255);  
}

.pSContainer .form button {
  margin-top: 1em;
  padding: 0.5em;
  outline: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
.pSContainer .form button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
